<launch>

	<!-- Command-line args -->
	<arg name="map_name" />

	<!-- <param name="/use_sim_time" value="true"/> -->

	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_name)" >
		<param name="frame_id" value="/map" />
	</node>

	<!-- Localization -->
	<include file="$(find box)/launch/amcl_pioneer.launch"/>

	<!-- Include move base launch file -->
	<include file="$(find pioneer_2dnav)/move_base.launch"/>

	<!-- Move base clients for waypoint navigation -->
	<node pkg="simple_navigation_goals" type="base_link_navigation_client" name="base_link_goal_client" output="screen"/>
	<node pkg="simple_navigation_goals" type="map_navigation_client" name="map_goal_client" output="screen"/>

</launch>

